.cards {
    text-align: center;
}

.card {
    margin: 10px;
}

.jumbotron {
    background-color: transparent;
}

a,
a:hover {
    color: black;
}

body {
    color: #002929;
}

.car-size {
    max-height: 500px;
    height: 70%;
    width: auto;
}

nav {
    margin: 0 30px;
}